<ion-content>
	<div class="wrrper">
		<div class="logo-setup">
			<div class="logo-wrap">
				<img src="assets/images/logo.png">
			</div>
		</div>
		<div class="login-enter">
			<div class="heading">
                <h4><span>OTP</span> has been sent in your ragister number </h4>
                <div class="otp-mobile">
                	<img src="assets/images/flag.png" alt="flag">
                	<p>{{phonedata.phone_code}}</p>
                	<p>{{phonedata.phone_number}}</p>
                	<a [routerLink]="'/login'">Change</a>
                </div>
            </div>
			
				<div class="number">
					<div class="otp-inpubox">
						<div class="">
							<ion-input type="tel" [(ngModel)]="otp" placeholder="0"></ion-input>
						</div>
					</div>
				</div>             	

             	<div (click)="gotoresendotp()" class="resend-otp nrd-otp">
                  	<p>Didn't Get Otp? <a >Resend</a></p>
             	</div>
            
            <div (click)="verifyotpfun()"  class="main-buttons">
          		<button class="btn1">Continue</button>
            </div>
		</div>
		<div class="driver-login">
			<p>I am a Driver <a [routerLink]="'/dlogin'">Login</a></p>
		</div>
	</div>

</ion-content>
