<ion-header>

	<div (click)="gotobackfun()" class="back-arrow">
		<img src="assets/images/left-arrow.png" alt="flag">
	</div>
</ion-header>

<ion-content>
  	<div class="container">
    	<div class="chatting">
      		<ul>
      			<div *ngFor="let cl of chatlist">
			        <li  *ngIf="checkid==cl.sender_id" class="from">
			          	<div class="mg">
			            	<div class="txt">
			              		<p>{{cl.message}}</p>
			            	</div>
			            	<span class="date-time">{{cl.created_at}}</span>
			          	</div>
			          	<ion-avatar>
			            	<img src="{{driverDate.profile_image}}" alt="">
			          	</ion-avatar>
		          	</li>
		          	<li *ngIf="checkid!=cl.sender_id" class="to">
		          		<div class="mg">
		            		<div class="txt">
		              			<p>{{cl.message}}</p>
		            		</div>
		            		<span class="date-time">{{cl.created_at}}</span>
		          		</div>
	          			<ion-avatar>
	            			<img src="assets/images/admin.png" alt="">
	         			 </ion-avatar>
			        </li>
		        </div>
        		
      		</ul>
    	</div>
  	</div>
</ion-content>

<ion-footer>
      <div class="type-box">
            <div class="button">
                  <button>
                        <ion-icon name="call"></ion-icon>
                  </button>
            </div>
            <div class="txt">
              	<textarea [(ngModel)]="message" placeholder="Type here..."></textarea>
            </div>
            <div (click)="sendMessage()"class="button">
                  <button>
                        <ion-icon name="send"></ion-icon>
                  </button>
            </div>
      </div>
</ion-footer>

