<ion-content>
	<div [routerLink]="'/driver-menu'" class="back-arrow">
		<img src="assets/images/left-arrow.png" alt="flag">
	</div>
	<div class="header">City</div>
	<div class="choose-vih-ty withpadding">
		<div class="four" *ngFor="let cl of catList" 
		[ngClass]="{active: RequestRide.v_type===cl.id}" (click)="gotocategory(cl.id)" >
           	<img src="{{cl.image}}">
   		</div>
        
	</div>
	<div class="Ride-form">
		<div class="ride-input">
			<ion-icon name="radio-button-on"></ion-icon>
 			<ion-input (click)="gotopichuploaca('4')"  [(ngModel)]="RequestRide.pickup_lo" placeholder="Enter Pickup Point"></ion-input>
		</div>
		<div class="ride-input">
			<ion-icon name="radio-button-on"></ion-icon>
 			<ion-input (click)="gotopichuploaca('5')"  [(ngModel)]="RequestRide.drop_lo" placeholder=" Enter Drop-off Point"></ion-input>
		</div>
		<div class="ride-input">
			<ion-icon name="radio-button-on"></ion-icon>
	 	 	<ion-datetime displayFormat="DD/MM/YYYY"  [(ngModel)]="RequestRide.date" min="2020" max="2050" placeholder="Select Date"></ion-datetime>
		</div>
		<div class="ride-input">
			<ion-icon name="radio-button-on"></ion-icon>
	 	 	<ion-datetime displayFormat="h:mma"  [(ngModel)]="RequestRide.time" placeholder="Select Time"></ion-datetime>
		</div>
		<div class="ride-input">
			<ion-icon name="radio-button-on"></ion-icon>
 			<ion-input placeholder="Describe (required)" [(ngModel)]="RequestRide.comment"></ion-input>
		</div>
		<div class="ride-input">
			<ion-icon name="radio-button-on"></ion-icon>
 			<ion-input placeholder="$ Price" [(ngModel)]="RequestRide.price">
 				
 			</ion-input>
		</div>
	</div>
	<div class="img-upload">
		<p>Upload photo of cargo*</p>
		<div class="upload-doc-we">
     		<div (click)="presentActionSheet()" class="signl">
             	<img src="{{RequestRide.image}}" >
            </div>
        </div>
	</div>
	<!-- <div class="button-cargo">
		<div  (click)="gotoproducydtl()" class="main-buttons">
            <button class="btn1">Order</button>
    	</div>
	</div> -->

</ion-content>
<ion-footer>
	<div class="driver-order-footer">
		<div (click)="gotoproducydtl()" class="sec-one">
			<ion-icon name="add"></ion-icon>
			<p>Create Request</p>
		</div>
		<div [routerLink]="'/otherridelist'" class="sec-one">
			<ion-icon name="journal"></ion-icon>
			<p>My Requests</p>
		</div>
	</div>
</ion-footer>