<ion-content>
	<div (click)="gotoback()"  class="back-arrow">
        <img src="assets/images/left-arrow.png" alt="flag">
    </div>
	<div >
        <div id="map_canvas" class="showmap" ></div>
  	</div>
	<div class="searchbar">
		<div class="searchbar-inner">
			<button (click)="searchText='' "><ion-icon name="close"></ion-icon></button>
			<input type="text" id="clocation" placeholder="Choose Location" 
			[(ngModel)]="searchText">
		</div>
	</div>
	<div class="footer">
		<div class="btn">
			<button (click)="selectlocation()" >Next</button>
		</div>
	</div>
	
</ion-content>

