.footer{
    position: absolute;
    bottom: -4px;
    width: 100%;
    left: 0;
    padding: 15px;
	.btn {
	    text-align: center;
	    
	    button {
			background: #8705fb;
			color: #fff;
			font-size: 16px;
			border: 1px solid #8705fb;
			text-align: center;
			height: 45px;
			width: 100%;
			border-radius: 8px;
			font-weight: 600;
			box-shadow: 0px 2px 15px rgb(253 184 19 / 15%);
		}
	}
	
}

.delivery-time {
    position: absolute;
    width: 100%;
    top: 8%;
    padding: 10px;
    .pdt{
	    border-bottom: 1px solid #efefef;
	    padding: 10px 0 15px;
		   ion-input {
		        font-size: 14px;
			    border: 1px solid #54647f;
			    border-radius: 4px;
			    height: 40px;
			    color: #444548;
			    font-weight: 500;
		}
	}
}

.showmap{
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.searchbar{
   	position: absolute;
    top: 73px;
    width: 100%;
    left: 0;
    padding: 15px;
    .searchbar-inner {
	    position: relative;
	    button{
			padding: 0;
		    color: #757575;
		    position: absolute;
		    top: 14px;
		    right: 10px;
		    background: transparent;
		    font-size: 20px;
		}

		input{
			height: 45px;
		    border-radius: 4px;
		    border: 0;
		    width: 100%;
	        padding: 0 10px 0 12px;
		    font-size: 14px;
	        color: #151515;
			background-color: #ffffff;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    overflow: hidden;
		    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.28);
		}
	}
		
}
