<ion-content>
	<div class="wrrper">
		<div class="head-part">
			<img src="assets/images/logo.png">
			<h2>VeggoFresh Community</h2>
		</div>
		<div class="login-form">
			<p style="color: #000;">{{showotp}}</p>
			<div class="login-enter">
				<div class="form-group mb-15">
					<input type="tel" placeholder="Enter your mobile number" [(ngModel)]="userdata.phone">
				</div>
				<div (click)="gotoSendotp()" class="buttons mb-15">
					<button class="btn1">Get OTP</button>
				</div>
				<div class="form-group mb-15">
					<input type="tel" placeholder="Enter OTP" [(ngModel)]="userdata.otp">
				</div>
        		<div class="form-group mb-15">
					<input type="text" placeholder="High Security Pass." [(ngModel)]="userdata.password">
				</div>
				<div class="buttons">
					<button class="btn1 btn2" (click)="gotoVerifyotp()" >SIGN IN</button>
				</div>
			</div>
		</div>
	</div>

</ion-content>
