<ion-content>
	<div class="wrrper">
		<div class="logo-setup">
			<img src="assets/images/logo.png">
			<div class="login-enter">
				<div class="heading">
                    <h2>Add your<span style="font-weight: 700;"> Presonal</span> Details.</h2>
                </div>
				<div class="pd-detils">
                 	
                 	<div class="form-data">
                 		<ion-item>
						  	<ion-label position="floating">Driving Licence </ion-label>
					  	 	<ion-input placeholder=" Enter Driving Licence"></ion-input>
						</ion-item>
						<ion-item>
						  	<ion-label position="floating">Insurance Certificate(SOAT)</ion-label>
					  	 	<ion-input placeholder="Enter Insurance Certificate(SOAT)"></ion-input>
						</ion-item>
						
                 	</div>

                 	<div class="doc-img">
                 		<p>Upload documents*</p>
                 		<h4>Front and back photo of your Driving Licence </h4>
                 		<div class="upload-doc">
                 			<div class="signl">
                 				<img src="assets/images/image.png">
                 			</div>
                 			<div class="signl">
                 				<img src="assets/images/image.png">
                 			</div>
                 		</div>
                 		<h4>Front and back photo of your Insurance Certificate</h4>
                 		<div class="upload-doc">
                 			<div class="signl">
                 				<img src="assets/images/image.png">
                 			</div>
                 			<div class="signl">
                 				<img src="assets/images/image.png">
                 			</div>
                 		</div>
                 		<h4>one of the following Police records/Uber Profile/Taxi driver card</h4>
                 		<div class="upload-doc">
                 			<div class="signl">
                 				<img src="assets/images/image.png">
                 			</div>
                 			
                 		</div>
                 	</div>
                </div>
                <div [routerLink]="'/id-verification'" class="main-buttons">
              		<button class="btn1">Submit</button>
                </div>
			</div>
		</div>
		
	</div>
</ion-content>
