<ion-content>
	<div class="wrrper">
		<div class="logo-setup">
			<div class="logo-wrap">
				<img src="assets/images/logo.png">
			</div>
		</div>
		<div class="login-enter">
			<div class="heading">
             	<h4>Your phone number is not <span>registered</span></h4>
             	<div class="otp-mobile">
                   	<img src="assets/images/flag.png" alt="flag">
                   	<p>{{phonedata.phone_code}}</p>
                   	<p>{{phonedata.phone_number}}</p>
                   	<a [routerLink]="'/dlogin'">Change</a>
             	</div>
           	</div>
			<div class="form-group">
              	<label>First name *</label>
              	<ion-input type="text" [(ngModel)]="userdata.fname" placeholder="Enter first name"></ion-input>
          	</div>
			<div class="form-group">
			  	<label>Last name *</label>
			  	<ion-input type="text" [(ngModel)]="userdata.lname" placeholder="Enter last name"></ion-input>
			</div>
			<div class="form-group">
				<label>Email address</label>
				<ion-input type="email" [(ngModel)]="userdata.email" placeholder="Enter email"></ion-input>
			</div>
            <div (click)="addragister()"  class="main-buttons">
				<button class="btn1">Continue</button>
        	</div>
		</div>
		<div class="driver-login">
			<p>I am a User <a [routerLink]="'/login'">Login</a></p>
		</div>
	</div>

</ion-content>
