




.noti-arrow {
    position: absolute;
    top: 4px;
    right: 2px;
    font-size: 31px;
    z-index: 45646;
    padding: 6px 7px 1px 9px;
    border-radius: 6px;
}
ion-content
{
     position: relative;  
     --background: #eae9e8;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 16px 16px 0 0;
    padding-top: 0px;
    width: 100%;
    .outer {
        width: 100%;
        /* padding: 4px; */
        /* height: 129px; */
        overflow: hidden;
        padding: 10px 0px 0;
        .img {
            width: 30%;
            float: left;
            img {
                width: 100%;
                padding: 5px;
                border-radius: 17px;
            }
        }
        .data {
            width: 70%;
            float: left;
            margin: 0;
            padding: 10px 0;
            h4 {
                margin: 0px 5px 3px 2px;
                padding: 0 0px 0px 0px;
                font-size: 16px;
            }
            .data-list {
                display: flex;
                margin: 0px 0px 0px 10px;
                border-bottom: 1px solid #f3ebeb;
                padding-bottom: 10px;
                position: relative;
                align-items: flex-start;
                p {
                    margin: 0;
                    padding: 0;
                }
                .setup {
                    width: 36%;
                    text-align: center;
                  
                    text-align: left;
                    p{
                        margin: 0;
                        padding: 0;
                        font-size: 13px;
                        ion-icon{
                            font-size: 11px;
                            color: #868080;
                        }
                        .star{
                            color: #feb700;
                        }
                    }
                }
                .phone-btn {
                    // position: absolute;
                    // right: 6px;
                    // top: -30px;
                    img {
                        width: 40px;
                        background-color: #922bf3;
                        border-radius: 63px;
                    }
                }

                .lstsfgt {
                    width: 60%;
                    .mntp-review {
                        display: flex;
                        margin-bottom: 3px;
                    }
                }
                .trsfskjlbkjg {
                    display: flex;
                    align-items: center;
                    width: 40%;
                    margin:0 -3px 0 0;
                    .wattsapp-btn {
                        padding: 0 3px;
                        img{
                            width: 40px;
                        }
                    }
                    .phone-btn {
                        padding: 0 3px;
                    }
                }
                
            }

            .otp-box {
              
                .otp-txt {
                    margin: 0 -5px;
                    text-align: center;
                    display: flex;
                    .single-input {
                        width: 25%;
                        height: 50px;
                        display: inline-block;
                        padding: 0 4px;
                        input {
                            height: 100%;
                            width: 100%;
                            border: 0;
                            color: #8705fb;
                            font-size: 24px;
                            font-weight: bold;
                            text-align: center;
                            background: #f5e9ff !important;
                            border-radius: 6px;
                            outline: none;
                        }
                    }
                  
                }
            }
        }
    }
    .sourc-des {
        border-top: 1px solid #f4eeee;
        padding: 10px 0px;
        border-bottom: 1px solid #f4eeee;
        
    }
}
.vih-detail {
    position: relative;
    padding: 10px 18px 0 10px;
    .otp{
         float: right;
         color: #8913f2;
    }
    a {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    p {
        margin: 6px 0 2px;
        padding: 0;
        font-size: 13px;
    }
    h5 {
        margin: 0;
        padding: 0;
        font-size: 13px;
    }
    .wattsapp-btn {
        position: absolute;
        right: 5px;
        top: 16px;
        img{
            width: 40px;
        }
    }
}
.sourc-des{
    .fo-inner{
        position: relative;
        /* border-top: 1px solid #f4eeee; */
        margin-top: 0;
        padding-top: 0;
        .down-arere {
            position: absolute;
            top: 46px;
            left: 17px;
            font-size: 15px;
            z-index: 5445454;
            color: #c1b6b6;
        }
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            align-items: center;
            li{
                p {
                    margin: 0;
                    padding: 0;
                    font-size: 11px;
                    color: #aba7a7;
                }
                h4 {
                    font-size: 14px;
                    margin: 0;
                    padding: 0;
                }
                ion-icon{
                    margin: 1px 5px 1px -32px;
                    padding: 0px 3px 1px 2px;
                    vertical-align: middle;
                }
                .amt {
                    margin: 10px 13px;
                    font-weight: 600;
                }
                
            }
        }
        .dstnc-km {
            position: absolute;
            right: 25px;
            top: 8px;
        }

    }
}
.btnol {
    padding: 15px;
}
.popup-outer {
    background-color: #77737359;
    position: absolute;
    height: 110vh;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 465465654;
    .popup-iner {
        margin-top: 28%;
        .total-contact
        {
            background-color: #ffffff;
            border-radius: 10px;
            width: 86%;
            margin: 8%;
            .popuphead{
                background-color: #d4f4cd;
                text-align: center;
                border-radius: 10px 10px 0 0px;
                padding: 21px 18px;
                font-size: 10px;
                color: #20a607;
                h4 {
                    font-size: 15px;
                }
                img{
                    width: 21%;
                }
            }
            .contant {
                padding: 20px 17px 8px 17px;
                text-align: center;
                h4 {
                    font-size: 12px;
                    font-weight: 100;
                }
                .check-from {
                      position: relative;
                      margin: 12px 34px 21px 33px;
                      border-bottom: 1px solid #d7cfde;
                      ion-checkbox {
                            --ion-color-base: #8913f2 !important;
                          width: 19px;
                          --border-radius: 54px;
                          height: 19px;
                          position: absolute;
                          left: -32px;
                          top: -1px;

                      }
                      p{
                            padding: 0;
                            font-size: 14px;
                            text-align: start;
                            color: #000000;
                            margin: 21px 12px 9px 1px;
                      }
                      ion-input{
                            padding: 0;
                            font-size: 14px;
                            text-align: start;
                            color: #000000;
                            margin: 0px 6px 1px -6px;
                      }
                      .plus-icon {
                            position: absolute;
                            top: -8px;
                            right: 0px;
                            font-size: 25px;
                            color: #8913f2;
                            font-weight: 900;
                      }
                      .doller{
                            position: absolute;
                            top: -6px;
                            left: -32px;
                            font-size: 25px;
                            color: #8913f2;
                            font-weight: 900;
                            img {
                                width: 21px;
                               
                            }
                            

                      }
                      .comment{
                            position: absolute;
                            top: 6px;
                            left: -32px;
                            font-size: 25px;
                            color: #8913f2;
                            font-weight: 900;
                            img {
                                width: 21px;
                               
                            }
                            
                      }
                }

            }
        }
                  
    }
}
.close-tag {
    text-align: center;
    padding: 18px;
    a{
        color: #bfb5b5;
    }
    
}
.main-buttons {
    margin: 0;
    .btn1 {
        padding: 16px 0;
        border-radius: 7px;
        background-color: #20a606;
        color: #fff;
        font-size: 17px;
        box-shadow: 0px 2px 7px 0px #d3d3d3;
        font-weight: 600;
        width: 100%;
    }
    .basecolor{
        
        background-color: #8705fb;
    }
}

.mobile-no{
    margin-bottom: 5px;
    p{
        .hydrated {
            vertical-align: top;
        }
    }
}


.fo-inner {
    ul {
        li {
            margin: 2px -2px;
            padding: 0;
            /* overflow: auto; */
        }
    }
}

.request.ride{
    a {
        display: block;
    }
    
}