
<ion-content>
      <div [routerLink]="'/menu'"  class="back-arrow">
         <img src="assets/images/left-arrow.png" alt="flag">   
      </div>
      <div (click)="gotoopencall('1')" class="noti-arrow">
        <img src="assets/images/notification.png">
      </div>
      <div class="full-size" id="driver_dtl">
         <!-- <img src="assets/images/bkgmap.png"> -->
      </div>
    
      <div class="footer">
          <div class="outer">
          <div class="img">
            <img src="{{RequestRide.profile_image}}">
          </div>
        <div class="data">
          <!-- <h4>{{RequestRide.user_name}}</h4> -->
            <div class="data-list">
              <div class="lstsfgt">
                  <h4>{{RequestRide.user_name}}</h4>
                 <div class="mobile-no">
                  <p>
                      <ion-icon name="call-outline"></ion-icon> {{RequestRide.phone_number}}
                    </p>
                 </div>
                 <div class="mntp-review">
                  <div class="setup">
                    <p>
                      <ion-icon class="star" name="star"></ion-icon> 4.8
                    </p>
                  </div>
                  <div class="setup">
                    <p>
                      <ion-icon name="time-outline"></ion-icon> 0 min
                    </p>
                  </div>
                </div>
                <div class="request ride">
                    <!-- <a *ngIf="RequestRide.status==3">
                        <ion-icon name="trail-sign-outline"></ion-icon>
                      Driver On the way</a>
                      <a *ngIf="RequestRide.status==6">
                        <ion-icon name="trail-sign-outline"></ion-icon>Trip On the way
                      </a>
                      <a *ngIf="RequestRide.status==7">
                        <ion-icon name="trail-sign-outline"></ion-icon> Trip Completed
                      </a> -->
                      <a href="#">
                          <ion-icon name="trail-sign-outline"></ion-icon>
                        Driver On the way</a>
                        <!-- <a href="#">
                          <ion-icon name="trail-sign-outline"></ion-icon>Trip On the way
                        </a>
                        <a href="#">
                          <ion-icon name="trail-sign-outline"></ion-icon> Trip Completed
                        </a> -->
                </div>
    
                
              </div>
              <div class="trsfskjlbkjg">
                <div class="wattsapp-btn">
                  <img src="assets/images/whatsapp.png">
                </div>
                <div class="phone-btn">
                  <img src="assets/images/phcl.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sourc-des">
      
          <div class="fo-inner">
            <div class="lvfrom">
            <ul>
              <li>
                <ion-icon name="radio-button-on"></ion-icon>
              </li>
              <li>
                <p>Leaving Form</p>
                <h4>{{RequestRide.from}}</h4>
              </li>
            </ul>
            <ul>
              <li>
                <ion-icon name="radio-button-on" style="color: #8705fb;"></ion-icon>
              </li>
              <li>
                <p>Going To</p>
                <h4>{{RequestRide.to}}</h4>
              </li>
            </ul>
            </div>
    
            <div class="dstnc-km">
              <div class="amt" style="color: #8705fb;">{{RequestRide.expected_distance | number: '1.0-0'}} Km</div>
          </div>
          
          </div>
        </div>
    
    
        <div class="btnol">
               <div  class="main-buttons ">
                    <!-- <button [routerLink]="'/driverdtls'" class="btn1 basecolor">Start To Ride</button> -->
                    <!-- <button  class="btn1 basecolor" (click)=" gotostartride()">Complete Ride</button> -->
                </div> 
          </div>
    </div>
    </ion-content> 
    
    <ion-footer>
      <div class="popup-outer" *ngIf="emargencypopup=='1'" >
          <div class="popup-iner">
                <div class="total-contact">
                      <div class="popuphead">
                        <img src="assets/images/safety.png">
                          <h4>We Ensure Your Safety!</h4>
                      </div> 
                      <div class="contant">
                            <h4>You can call the police from the app or send ride details to your family or freinds</h4>
                            
                      </div>
                      <div class="btnol">
                     <div (click)="gotoopencall('0')" class="main-buttons">
                            <button class="btn1">Call the Police</button>
                      </div> 
                      <div (click)="gotoopencall('0')" class="main-buttons">
                            <button class="btn1">Call the Ambulance</button>
                      </div>
                  </div>
                  <div (click)="gotoopencall('0')" class="close-tag">
                    <a>Close</a>
                  </div>
                </div>
          </div>
      </div>
    </ion-footer>
    
    