<ion-content>
	<div class="wrrper">
		<div class="logo-setup">
			<div class="logo-wrap" [routerLink]="'/driver-home'">
				<img src="assets/images/logo.png">
			</div>	
		</div>
		<div class="login-enter">
				<div class="contant">
					<img src="assets/images/complain.png">
					<h4>Profile under review!</h4>
					<h2>your information has been submittede sucessfully and being processed</h2>
					<p>You will be able to access the app once your document gets</p>
					<p> verified by management team</p>
				</div>

			</div>
	</div>
</ion-content>
