<ion-content>
	<div class="wrrper">
		<div class="logo-setup">
			<div class="logo-wrap">
				<img src="assets/images/logo.png">
			</div>	
		</div>
		<div class="login-enter">
			<div class="heading">
             	<h4>You are going to <span>work </span>as</h4>
           	</div>
           	<div class="choose-vih-ty">
           		<div  *ngFor="let cl of catlist" class="one" [ngClass]="{active: activetype===cl.id}" (click)="activetypefun(cl.id)" >
       				<img src="{{cl.image}}">
           		</div>
           		<!-- <div class="one" [ngClass]="{active: activetype==='2'}" (click)="activetype='2'">
           			<img src="assets/images/Courier.png">
           		</div> -->
           	</div>
           	<div   class="main-buttons">
				<button (click)="gotoaddcat()" class="btn1">Continue</button>
        	</div>
		</div>
		<!-- <div class="driver-login">
			<p>I am a User <a [routerLink]="'/login'">Login</a></p>
		</div> -->
	</div>

</ion-content>
