<ion-content>
	<div class="wrrper">
		<div class="logo-setup">
			<div class="logo-wrap">
				<img src="assets/images/logo.png">
			</div>
		</div>
		<div class="login-enter">
			<div class="heading">
                <h2>Add your <b>Professional</b> Details.</h2>
            </div>
			<div class="pd-detils">
             	<div class="form-data">
             		<ion-item>
					  	<ion-label position="floating">Driving licence*</ion-label>
				  	 	<ion-input  [(ngModel)]="driver_licence" placeholder="Enter Driving licence number"></ion-input>
					</ion-item>
					<ion-item>
					  	<ion-label position="floating">Insurance certificate(SOAT)*</ion-label>
				  	 	<ion-input   [(ngModel)]="insurance_certificate" placeholder="Enter Insurance certificate number"></ion-input>
					</ion-item>
             	</div>

             	<div class="doc-img">
             		<p>Upload documents*</p>
             		<h4>Front and back photo of your Driving Licence</h4>
             		<div class="upload-doc">
             			<div (click)="presentActionSheet('6')" class="signl">
             				<img src="{{f_reg_image}}">
             			</div>
             			<div (click)="presentActionSheet('7')"  class="signl">
             				<img src="{{b_reg_image}}">
             			</div>
             		</div>
             		<h4>Front and back photo  of your Car Insurance Certificate (SOAT)</h4>
             		<div class="upload-doc">
             			<div (click)="presentActionSheet('8')"  class="signl">
             				<img src="{{f_num_plate_image}}">
             			</div>
             			
             		</div>
             		<h4>One of the following : Police records / Uber profile / Taxi driver card</h4>
             		<div class="upload-doc">
             			<div (click)="presentActionSheet('9')"  class="signl">
             				<img src="{{b_num_plate_image}}">
             			</div>
             			
             		</div>
             	</div>
            </div>
            <div (click)="gotoproducydtl()" class="main-buttons">
          		<button class="btn1">Submit</button>
            </div>
		</div>
		
	</div>
</ion-content>
