<ion-content>
	<div class="wrrper">
		<div class="back-arreow">
          	<div class="mh-full">
                <span [routerLink]="'/driver-profile'">
                      <ion-icon name="arrow-back"></ion-icon>
                </span>
          	</div>
        </div>
		<div class="logo-setup">
			<div class="logo-wrap">
				<img src="assets/images/logo.png">
			</div>	
		</div>
		<div class="login-enter">
			<div class="heading">
                <h2>Complete your Presonal Detils.</h2>
            </div>
			<div class="pd-detils">
             	<div class="avtar-img">
             		<div class="img">
             			<div class="p-image">
             				<img *ngIf="!userdata.car_image"  src="assets/images/user.png">
             				<img *ngIf="userdata.car_image"  src="{{userdata.car_image}}" alt="">
             			</div>
             			<ion-icon (click)="presentActionSheet('1')" name="camera"></ion-icon>
     				</div>
             		<p>Upload a clear photo of your car</p>
             	</div>
             	<div class="form-data">
             		<ion-item>
					  	<ion-label position="floating">Car ragistration certificate</ion-label>
				  	 	<ion-input  [(ngModel)]="userdata.ragistration_cer" placeholder=" Enter Car ragistration certificate"></ion-input>
					</ion-item>
					<ion-item>
					  	<ion-label position="floating">Car number Plate</ion-label>
				  	 	<ion-input  [(ngModel)]="userdata.car_number" placeholder="Enter Car number Plate"></ion-input>
					</ion-item>
					<ion-item>
					  	<ion-label position="floating">Car brand</ion-label>
				  	 	<ion-select [(ngModel)]="userdata.car_brands" placeholder="Select brand" (ngModelChange)="changemodelfun($event)">
					      	<ion-select-option *ngFor="let bl of brandList" value="{{bl.id}}">{{bl.brand}}</ion-select-option>
					    </ion-select>
					</ion-item>
					<ion-item>
					  	<ion-label position="floating">Car model</ion-label>
				  	 	<ion-select [(ngModel)]="userdata.car_model"  placeholder="Select model">
					      	<ion-select-option *ngFor="let ml of ModelList" value="{{ml.id}}">{{ml.modal}}</ion-select-option>
					      	
					    </ion-select>
					</ion-item>
					<ion-item>
					  	<ion-label position="floating">Car color</ion-label>
				  	 	<ion-select [(ngModel)]="userdata.car_color"  placeholder="Select Color">
					      	<ion-select-option *ngFor="let cl of colorList" value="{{cl.id}}">{{cl.color}}</ion-select-option>
					      	
					    </ion-select>
					</ion-item>
             	</div>

             	<div class="doc-img">
                    <p>Upload documents*</p>
                    <h4>Front and back photo of your Car Register Certificate</h4>
                    <div class="upload-doc">
                        <div (click)="presentActionSheet('2')" class="signl">
                            <img src="{{userdata.f_reg_image}}">
                        </div>
                        <div (click)="presentActionSheet('3')"  class="signl">
                            <img src="{{userdata.b_reg_image}}">
                        </div>
                    </div>
                    <h4>Front and back photo of your Car Number Plate</h4>
                    <div class="upload-doc">
                        <div (click)="presentActionSheet('4')"  class="signl">
                            <img src="{{userdata.f_num_plate_image}}">
                        </div>
                        <div (click)="presentActionSheet('5')" class="signl">
                            <img src="{{userdata.b_num_plate_image}}">
                        </div>
                    </div>
                </div>
            </div>
            <div (click)="gotoproducydtl()" class="main-buttons">
          		<button class="btn1">Submit</button>
            </div>
		</div>
	</div>
</ion-content>
