<ion-content>
	<div (click)="gotoback()"  class="back-arrow">
        <img src="assets/images/left-arrow.png" alt="flag">
    </div>
	<div class="enter-location">
		<h4>Add Your Stop</h4>
		<div class="pickup-drop-location">
			<ul>
				
				<li  *ngFor="let st of stoplist">
					<img src="assets/images/icon-1.png" alt="double-circle">
					<p (click)="gotochooseaddress('3',st.id)">
						{{st.address}}
						&nbsp;
					</p>
					<div *ngIf="stoplist.length > 1" class="remove-icon" (click)="gotoremovecall(st.id)">
						<ion-icon name="close-circle-outline"></ion-icon>
					</div>
				</li>
			</ul>
		</div>
		<button class="add-stop" (click)="gotoaddrow()">
			<ion-icon name="add"></ion-icon> Add stop
		</button>
	</div>
	
	<div class="footer">
		<div class="btn">
			<button (click)="gotoback()"  >Done</button>
		</div>
	</div>
	
</ion-content>

