<ion-content>
	<div class="wrrper">
		<div class="logo-setup">
			<div class="logo-wrap">
				<img src="assets/images/logo.png">
			</div>
		</div>
		<div class="login-enter">
			<div class="heading">
                <h2><span>OTP</span> has been sent in your registered number </h2>
                <div class="otp-mobile">
                	<img src="assets/images/flag.png" alt="flag">
                	<p>{{userdata.phone_code}}</p>
                   	<p>{{userdata.phone_number}}</p>
                   	<a [routerLink]="'/dlogin'">Change</a> 
                </div>
            </div>
			<!-- <div class="otp-box"> -->
             	<!-- <div class="otp-txt">
					<div class="single-input">
					   <input type="tel" id="otp1" placeholder="-" maxlength="1" [(ngModel)]="otpone" (keyup)="moveto(1)">
					</div>
					<div class="single-input">
					   <input type="tel" id="otp2" placeholder="-" maxlength="1" [(ngModel)]="otptwo" (keyup)="moveto(2)">
					</div>
					<div class="single-input">
					   <input type="tel" id="otp3" placeholder="-" maxlength="1" [(ngModel)]="otpthree" (keyup)="moveto(3)">
					</div>
					<div class="single-input">
					   <input type="tel" id="otp4" placeholder="-" maxlength="1" [(ngModel)]="otpfour" (keyup)="moveto(4)">
					</div>
             	</div> -->

				<div class="number">
					<div class="otp-inpubox">
						<div class="">
							<ion-input type="tel" [(ngModel)]="otp" placeholder="0"></ion-input>
						</div>
					</div>
				</div>  

             	<div (click)="gotoresendotp()" class="resend-otp">
                  	<p>Didn't Get Otp? <a >Resend</a></p>
             	</div>
            <!-- </div> -->
            <div (click)="verifyotpfun()"  class="main-buttons">
          		<button class="btn1">Continue</button>
            </div>
		</div>
		<div class="driver-login">
			<p>I am a User <a [routerLink]="'/login'">Login</a></p>
		</div>
	</div>

</ion-content>







