<ion-content>
	<div [routerLink]="'/driver-menu'" class="back-arrow">
		<img src="assets/images/left-arrow.png" alt="flag">
	</div>
	<div class="header">Profile</div>
	<div class="menu">
		<ul>
			<li (click)="gotoprofileupdate('1')" >
				<p>Woking Type</p>
				<img src="assets/images/right-arrow.png" alt="flag">
			</li>
			<li (click)="gotoprofileupdate('2')" >
				<p>Professional Details</p>
				<img src="assets/images/right-arrow.png" alt="flag">
			</li>

			<li (click)="gotoprofileupdate('3')" >
				<p>Vehicle Details</p>
				<img src="assets/images/right-arrow.png" alt="flag">
			</li>
			<li (click)="gotoprofileupdate('4')">
				<p>Personal Details</p>
				<img src="assets/images/right-arrow.png" alt="flag">
			</li>
			
			
		</ul>
	</div>
</ion-content>
