
.header{
   	position: absolute;
    top: 26px;
    left: 92px;
    font-size: 17px;
}
.menu {
    margin-top: 115px;
    ul {
	    list-style: none;
	    li {
	    	position: relative;
	    	img{
	    		position: absolute;
			    top: 5px;
			    right: 19px;
			    width: 14px;
			    color: #8104f0;
	    	}
	    	p{
	    		padding: 1px 0 0 2px;
			    border-bottom: 1px solid #998da526;
			    padding-bottom: 18px;
			    margin-left: -23px;
	    	}
		}
	}
}
ion-footer {
    background-color: #f7ebff;
    .switch-driver {
	    display: flex;
	    color: #8104f0;
	    p {
		    margin-left: 5px;
		}
		 ion-icon{
		    margin: 10px;
		    font-size: 29px;
		}
	}
}