ion-header{
    --background: #8705fb;
    .home-header {
	    display: flex;
	    padding: 20px 2px 13px 16px;
	    background-color: #8705fb;
	    position: relative;
	    .img-header {
		    width: 22%;
		    img{
	    	 	border-radius: 11px;
		    }
		}
		.title {
			margin: 25px 8px 2px 7px;
			padding: 0;
		    h2 {
				color: #ffffff;
				margin: 0;
				padding: 0;
				font-size: 18px;
			}
		}
		.online-offline-btn {
		    display: flex;
		    position: absolute;
		    right: 16px;
    		top: 31px;
		    p {
				font-size: 15px;
				padding: 0;
				margin: 0px 8px 0 0px;
				color: white;
			}
			ion-toggle {
				--background: #e9e9e9;
				--background-checked: #bb84ed;
				height: 19px;
				--handle-background: #c3b4b4;
				--handle-background-checked: #8705fb;
				width: 37px;
				margin: 0;
				padding: 0;
			}
		}
	}
}
.sourc-des {
	.fo-inner {
	    position: relative;
	    margin-top: 0px;
	}
}
.total-prosection .prolist .sourc-des .fo-inner ul li {
    margin: 3px -5px;
    padding: 0 0 10px 4px;
	position: relative;
}

.total-prosection .prolist .sourc-des .fo-inner ul li ion-icon {
	margin: 0;
    padding: 0;
}
.point-ico {
	position: absolute;
    top: 5px;
    color: #8705fb;
    left: 0;
}
.total-prosection .prolist .sourc-des .fo-inner ul li .amt {
    margin: -10px 9px;
    font-weight: 600;
}
.driver-dtl .img {
    width: 20%;
    margin: 9px 7px -7px 10px;
}
.total-prosection {
    padding: 0px;
    border-radius: 25px;
    margin: 0;
    margin-top: 23px;
}
ion-item-sliding {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
ion-item-sliding{
    --padding-top: 6px;
    --padding-bottom: 14px;
    --padding-start: 15px;
    --padding-end: 0px;
    --margin-top: 0;
    --margin-bottom: 0;
    --margin-end: 0px;
    --margin-start: 0px;

}
.item-sliding-active-slide .item {
    
    --inner-padding-end: 0;
    --inner-padding-start: 0;
}
.item {
    
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --padding-start: 11px;
}
.header {
    position: absolute;
    top: 10px;
    left: 92px;
    font-size: 17px;
}
.total-prosection{
    padding: 0px;
    border-radius: 25px;
    margin: 0;
    margin-top: 80px;
    margin-right: 11px;
    .prolist {
        display: block;
		overflow: auto;
		width: 100%;
		border-radius: 12px;
		padding: 0px 0px;
		background-color: #ffff;
		position: relative;
		border: 2px solid #eae9e9;
		box-shadow: none;
	}
}
.slide-btn {
    display: block;
    padding: 0;
    margin: 0;
    width: 100px;
    .opt-hide {
	    padding: 0;
	    margin: 0;
	    background: #ffc9c9;
	    color: #fd2828;
	    height: 50%;
	    text-align: center;
	    padding-top: 14%;
	    ion-icon{
	    	padding: 0;
		    margin: 0;
		    font-size: 21px;
		    font-weight: 900;
	    }
	    p{
			padding: 0;
			margin: 0;
			margin-top: -3px;
	    }
	}
	 .opt-can {
	    padding: 0;
	    margin: 0;
	    background: #ffc9c9;
	    color: #fd2828;
	    height:100%;
	    text-align: center;
	    padding-top: 100%;
	    ion-icon{
	    	padding: 0;
		    margin: 0;
		    font-size: 40px;
		    font-weight: 900;
	    }
	    p{
			padding: 0;
			margin: 0;
			font-size: 25px;
			margin-top: -3px;
	    }
	}
	.opt-map {
	    padding: 0;
	    margin: 0;
	    background: #d4f4cd;
	    color: #27ab0e;
	    height: 50%;
	    text-align: center;
	    padding-top: 14%;
	    ion-icon{
	    	padding: 0;
		    margin: 0;
		    font-size: 21px;
		    font-weight: 900;
	    }
	    p{
			padding: 0;
			margin: 0;
			margin-top: -3px;
	    }
	}
	 
}

.itemOptions {
    width: 100px; 
}
.driver-dtl-to {
 
    width: 100%;
    .img{
    	width: 20%;
	    margin: 9px 7px -7px 10px;
	    float: left;
	    img {
		    border-radius: 15px;
		}
    }
    .contant{
    	width: 70%;
    	float: left;
    	.name-date {
		    display: flex;
		    border-bottom: 1px solid #f5f0f0;
		    .date {
			    width: 51%;
			    font-size: 15px;
			    margin-top: 13px;
			    text-align: end;
			    color: #8500fb;
			    font-weight: 900;
			    .upr{
			    	color: #b1b1b1;
				    text-decoration: line-through;
				    font-weight: 300;
				    padding: 0;
				    margin: 0 10px  0 0;
			    }
			}
			.sec {
			    width: 90%;
			    padding-top: 15px;
			    text-align: center;
			}
		}
		.icon-detl {
		    display: flex;
	        margin-top: -3px;

			.sec {
			    width: 100%;
			    padding-top: 15px;
			    text-align: center;
			    display: flex;
			    ion-icon{
					color: #cec9c9;
					font-size: 15px;
					margin-top: 2px;
					margin-right: 1px;
			    }
			    p {
				    font-size: 15px;
				    font-weight: 500;
				    color: #969696;
				    padding: 0;
				    margin: 0;
				}
			}
			.yellow{
			    width: 20%;
				ion-icon{
				    color: #ffc107;
				}
			}
		}
    }
}

ion-footer{
	position: absolute;
    bottom: 0;
    background-color: #00000096;
    left: 0;
    height: 100vh;
    width: 100%;
    .total-popup {
	    margin: 0 4%;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 92%;
		background-color: #ffffff;
		border-radius: 12px 12px 0 0;
    	.outer-popup{
    		.main-popup{
    			.map-show {
				    position: relative;
				    width: 100%;
				    height: 184px;
				    background-color: white;
				    border-radius: 12px 12px 0 0;
				    .img {
					    height: 190px;
					    width: 100%;
					    border-radius: 12px 12px 0 0;
					}
					.down-arreow {
				        position: absolute;
					    bottom: -7px;
					    right: 18px;
					    background: white;
					    border-radius: 8px 8px 0 0;
					    img {
						    height: 33px;
						    width: 52px;
				        	padding: 5px 19px 11px 16px;
							
						}
					}
				}
				.content {
					background-color: white;
				    position: relative;
				    padding: 17px 1px 1px 1px;
				    border-radius: 12px 12px 0 0;
				    .down-arreow-two {
						position: absolute;
					    top: -27px;
					    right: 18px;
					    background: white;
					    border-radius: 8px 8px 0 0;
					    img {
							height: 33px;
							width: 52px;
							padding: 8px 19px 8px 16px;
							
						}
					}
				    .button-section {
					    text-align: center;
						padding: 5px;
					    .main-buttons {
						    border-bottom: 1px solid #0000001c;
						    padding: 15px 16px;
						    
						   	.btn1 {
							    padding: 16px 0;
							    border-radius: 7px;
							    background-color: #8705fb;
							    color: #fff;
							    font-size: 17px;
							    box-shadow: 0px 2px 7px 0px #d3d3d3;
							    font-weight: 100;
							    width: 100%;
							}
						}
						p {
						    font-size: 14px;
						    padding: 0;
						    margin: 10px 0 0 0;
						}
						h4 {
						    font-size: 15px;
						}
						.rate-button {
						    width: 100%;
						    background-color: white;
						    .small-btn {
							    width: 100%;
							    background-color: white;
							    .sbtn{
							    	padding: 16px 0;
								    border-radius: 7px;
								    background-color: #8705fb;
								    color: #fff;
								    font-size: 17px;
								    box-shadow: 0px 2px 7px 0px #d3d3d3;
								    font-weight: 100;
								    width: 25%;
								    float: left;
								    margin: 4%
							    }
							}
						}
						.time-button {
						    padding: 5px;
						    
					    		button{
							    	padding: 16px 0;
								    border-radius: 7px;
								    background-color: #8705fb;
								    color: #fff;
								    font-size: 17px;
								    box-shadow: 0px 2px 7px 0px #d3d3d3;
								    font-weight: 100;
								    width: 100%;
								    margin-top: 20px;
								   
								    
							    }
						    
						    
						}
					}
				}

    		}
    	}

	}
	
}



.mdl-popup-section{
	
	.modal.fade {
	    overflow-x: hidden;
	    overflow-y: auto;
	    opacity: 1;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 1050;
	    height: 100%;
	    background: #000000bf;
	}

	.modal-dialog{
		position: relative;
	    width: auto;
	    margin: 10px;
	    top: 30%;
	}

	.modal-content{
	    position: relative;
	    background-color: #fff;
	    background-clip: padding-box;
	    border: 1px solid rgba(0,0,0,.2);
	    border-radius: 6px;
	    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
	    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
	    outline: 0;
	    
	}

	 .form-control{
	    width: 100%;
	    padding: 10px 15px;
	    border: 1px solid #d3cccc;
	    border-radius: 8px;
	}
	.srch-btn{
	    padding: 15px;
	    border-radius: 20px;
	    font-size: 14px;
	    font-weight: bold;
	    background: #8500fb;
	    margin-top: 20px;
	    color: #fff;
	    width: 100%;
	}

	.modal-header{
		background: #8500fb;
	    padding: 20px;
	    position: relative;
	   	p {
		    font-size: 19px;
		    color: white;
		    padding: 0;
		    margin: 0;
		}
	}
	.modal-body {
	    padding: 20px;
	    margin-top: 23px;
	}
	.close{
	    background: transparent;
	    font-size: 30px;
	    position: absolute;
	    top: 4px;
	    right: 5px;
	    color: #fff;
	}
	.form-group{
	    margin-top: 15px;
	}

}


.sourc-des {
	.fo-inner {
		padding: 20px 70px 20px 20px;
		position: relative;
		.distnce-count{
			position: absolute;
			top: 20px;
			right: 15px;
			h4{
				margin: 0;
				font-size: 16px;
				font-weight: 600;
				color: #8705fb;
			}
		}
		ul {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				margin: 0 !important;
				padding: 0 !important;
				position: relative;
				padding-left: 35px!important;
			}
			&+ul{
				margin-top: 10px;
			}
		}
		.down-arere{
			color: #8705fb;
			position: absolute;
			top: 45px;
			left: 10px;
			font-size: 18px;
			z-index: 5445454;
		}
	}
}


.driver-dtl-to_2 {
    padding: 15px 20px;

		.contant {
			display: flex;
			justify-content: space-between;
			padding-bottom: 4px;
			.prfl-dtls {
				display: flex;
				width: 70%;
				align-items: center;
				.img {
					width: 76px;
					border-radius: 15px;
					overflow: hidden;
					margin-right: 10px;
				}
				.name{
					h4{
						margin: 0 0 3px 0;
						font-size: 16px;
						font-weight: 600;
						text-transform: uppercase;
						color: #8500fb;
					}
					p{
						margin: 0;
    					font-size: 16px;
						color: #524b58;
						span{
							position: relative;
							top: 2px;
							margin-right: 4px;
							color: #8705fb;
						}
						&+p{
							margin-top: 2px;
						}
					}
				}
			}
			.dte-price{
				position: relative;
				span{
					font-size: 22px;
					color: #8705fb;
					font-weight: 600;
				}
				p{
					margin: 0;
					position: absolute;
					bottom: 2px;
				}
				.ride-acpt {
					border-radius: 2px;
					color: #11df11;
					font-weight: 600;
				}
				.ride-rjct {
					border-radius: 2px;
					color: #fa270b;
					font-weight: 600;
				}
				.ride-blue {
					border-radius: 2px;
					color: #670bfa;
					font-weight: 600;
				}
				
			}
		}
		.detl-descrplst{
			margin-top: 8px;
			border-top: 1px solid #f4eeee;
			padding-top: 12px;
				.lft-dscrptg {
					display: flex;
					justify-content: space-between;
					.sec{
						margin-bottom: 10px;
						h5{
							margin: 0 0 3px 0;
							font-size: 14px;
							font-weight: 600;
							color: #8704fb;
						}
						p{
							margin: 0;
							font-size: 16px;
							color: #524b58;
							font-weight: 400;
							span{
								position: relative;
								top: 3px;
								color: #8705fb;
							}
						}
					}
				}
				.ful-descrp {
					p{
						margin: 0;
						color: #524b58;
						font-size: 16px;
					}
				}
		}



}