

ion-content
{
     position: relative;  
     --background: #eae9e8;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 16px 16px 0 0;
    padding-top: 5px;
     width: 100%;
    .outer{
        width: 100%;
        .rating{
            padding: 5px 48px;
            ul {
                list-style-type: none;
                display: flex;
                width: 100%;
                li {
                    width: 20%;
                    font-size: 36px;
                    color: #ffe296;
                }
                .active{
                    color:#ffb700;
                }
            }
        }
        .co-text {
            text-align: center;
            p {
                font-size: 13px;
                margin: 0;
                padding: 0;
            }
            h4 {
                font-size: 18px;
                margin: 0;
                padding: 10px;
            }
        }
        .box-contant {
            height: 170px;
            text-align: center;
            margin: 2px 0 0 30px;
            .sec {
                float: left;
                width: auto;
                margin: 5px 4px;
                border: 2px solid #8705fb5c;
                padding: 1px 10px;
                border-radius: 12px;
                p {
                    font-size: 11px;
                }
            }
            .active {
                border: 2px solid #8705fb !important;
            }
        }
        .text-area {
            text-align: center;
            margin: 0px 17px 0 26px;
            ion-textarea{
                border-bottom: 1px solid #8705fb8f;
                text-align: left;
                font-size: 15px;
                color: #6b6c6d;
            }
        }
    }
    
}


.btnol {
    padding: 0px 14px 18px 23px;
}

.close-tag {
    text-align: center;
    padding: 18px;
    a{
        color: #bfb5b5;
    }
    
}
.main-buttons {
    margin: 20px 0 0 0;
    .btn1 {
        padding: 16px 0;
        border-radius: 7px;
        background-color: #20a606;
        color: #fff;
        font-size: 17px;
        box-shadow: 0px 2px 7px 0px #d3d3d3;
        font-weight: 600;
        width: 100%;
    }
    .basecolor{
        
        background-color: #8705fb;
    }
}