<ion-content>
	<div [routerLink]="'/menu'"  class="back-arrow">
        <img src="assets/images/left-arrow.png" alt="flag">
    </div>
  	
	<div class="full-size" id="rating_p">
       <!--  <img src="assets/images/bkgmap.png"> -->
    </div>
    <div class="footer">
		<div class="outer">
			<div class="rating">
				<ul>
					<li id="star1" class='remove' (click)="gotoaddrating('1')">
						<ion-icon name="star"></ion-icon>
					</li>
					<li id="star2" class='remove'  (click)="gotoaddrating('2')">
						<ion-icon name="star"></ion-icon>
					</li>
					<li  id="star3" class='remove'  (click)="gotoaddrating('3')">
						<ion-icon name="star"></ion-icon>
					</li>
					<li  id="star4" class='remove'  (click)="gotoaddrating('4')">
						<ion-icon name="star"></ion-icon>
					</li>
					<li  id="star5" class='remove'  (click)="gotoaddrating('5')">
						<ion-icon name="star"></ion-icon>
					</li>
				</ul>
			</div>
			<div class="co-text">
				<p>Awful</p>
				<h4>What didn't you like?</h4>
			</div>
			<div class="box-contant">
				<div class="sec" id="comm1"  (click)="gotocomment('1' ,'Rude driver')" >
					<p>Rude driver</p>
				</div>
				<div class="sec" id="comm2" (click)="gotocomment('2' ,'Do not arrive')" >
					<p>Do not arrive</p>
				</div>
				<div class="sec" id="comm3" (click)="gotocomment('3','Dangerous')" >
					<p>Dangerous</p>
				</div>
			
				<div class="sec"  id="comm4" (click)="gotocomment('4' ,'Bad conditions of the car')">
					<p>Bad conditions of the car</p>
				</div>
				<div class="sec"   id="comm5" (click)="gotocomment('5','Different driver')">
					<p>Different driver</p>
				</div>
			
				<div class="sec"  id="comm6" (click)="gotocomment('6','No mask')">
					<p>No mask</p>
				</div>
				<div class="sec" id="comm7" (click)="gotocomment('7','No air conditoner')">
					<p>No air conditoner</p>
				</div>
			</div>
			<div class="text-area">
				<ion-textarea placeholder="Comment Here ?.." [(ngModel)]="textcomment"></ion-textarea>
			</div>
		</div>
		
		<div class="btnol">
           <div  class="main-buttons ">
              	<button (click)="gotoaddcommernt()"  class="btn1 basecolor">Submit</button>
            </div> 
      	</div>
    </div>
</ion-content>
