<ion-content>
	<div [routerLink]="'/driver-home'" class="back-arrow">
		<img src="assets/images/left-arrow.png" alt="flag">
	</div>
	<div class="header">Payment</div>
	<div class="page-content">
		<h4>Prosonal Account : <span>{{driverDate.phone_number}}</span></h4>
		<div>
		<p> Balance: <span>$ {{PaymentData.total_amount}}</span></p>
		<p> Refund : <span>$ 0.00 &nbsp;&nbsp; (What is this)</span></p>
		<p>Months Amount: <span>$ {{PaymentData.months_amount}}</span></p>
		<p>Today Earn: <span>$ {{PaymentData.todays_amount}}</span></p>
		<p>Months Payments <span> {{PaymentData.months_payments}}</span></p>
		<p>Today Payments: <span> {{PaymentData.todays_payments}}</span></p>
		<p>Total Payments: <span> {{PaymentData.total_payments}}</span></p>
		<p> Status Intercity: Not Verified </p>
		<p> <ion-checkbox color="primary"></ion-checkbox> &nbsp;&nbsp;  
			Pago Con Yappy  
			<span>&nbsp;&nbsp; (What is this)</span>
		</p>
		
		    <!-- <div class="main-buttons">
	          	<button class="btn1">Online Check</button>
        	</div> -->
        	<!-- <div class="main-buttons">
	          	<button class="btn1">Other Income : Online Check</button>
        	</div> -->
        	<div class="main-buttons">
	          	<button class="btn1">My Income</button>
        	</div>
        	<!-- <div class="main-buttons">
	          	<button class="btn1 Blackbtn">Balance Statistics</button>
        	</div> -->
		</div>
		
	</div>
</ion-content>
