.page-content {
    margin: 112px 25px 25px 25px;
    h4 {
	    font-size: 15px;
	    font-weight: 700;
	}
	p {
		font-size: 14px;
		font-weight: 500;
	    ion-checkbox{
	    	display: inline-block;
   	 		margin: -4px;
	    }
	}
	span {
	    color: #8705fb;
		font-weight: 400;
	    font-size: 14px;
	}
}