ion-header::after {
	background-image: none;

}

ion-toolbar{
    padding: 0;
    margin: 0;
    padding-left: 60px;
    margin-top: 9px;
}

ion-title{
    font-size: 20px;
	justify-content: center;
    text-align: center;
}
.waiting-outer-class {
    padding: 0 18px;
    margin-top: 68px;
    .inner-class {
	    text-align: center;
	    img {
		    width: 26%;
		}
		h5 {
		    font-size: 19px;
	        margin: 16px 1px 5px 0;
		}
		p {
		    font-size: 14px;
		    color: #c5c5c5;
		    padding: 0 23px;
		}
	}
}

.wait{
	justify-content: center;
    text-align: center;
    padding: 70px 20px;
    .img-waiting{
			justify-content: center;
			text-align: center;
			width: 100px;
			height: 100px;
			margin: 0 auto;
   } 
   h4 {
    font-weight: bold;
    font-size: 22px;
    margin: 15px 0 0 0;
}
p{
    margin: 8px 0 0;
}
}

.footer-outer{
	.fo-inner{
		position: relative;
		.down-arere {
			position: absolute;
			top: 27%;
			left: 8px;
			font-size: 15px;
			z-index: 5445454;
			color: #8705fb;
		}
		.destination-adres {
			border-top: 1px solid #f3ebeb;
			padding: 20px 0px;
		ul {
		    display: flex;
		    list-style: none;
		    li{
				margin: 0px 0px;
					position: relative;
		    	p {
					margin: 0;
					padding: 0;
					font-size: 14px;
					color: #8705fb;
					font-weight: 600;
					margin-bottom: 4px;
				}
				h4 {
				    font-size: 14px;
				    margin: 0;
				    padding: 0;
					color: #2e2e2e;
				}
				ion-icon{
				    margin: 1px 8px -5px -26px;
    				padding: 10px 6px 1px 3px;
				}
				.amt {
				    margin: 11px;
			        font-weight: 600;
				}
				.amt-fare {
					text-align: right;
					margin: 10px 0px 0px 54px;
				    h5 {
					    padding: 0;
					    margin: 0;
					    text-align: center;
					}

					p{
					    margin: 0;
					    padding: 0;
					    font-size: 11px;
					    color: #aba7a7;
					}
				}
				.point-ico {
					position: absolute;
					top: 0;
					color: #8705fb;
				}
		    }
			&+ul{
				margin-top: 10px;
			}
		}
	}

	}
}
.driver-list {
   	display: block;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0px 3px 7px 3px #e1d1f1;
    background-color: #ffff;
    position: relative;
    margin: 11px;
    .outer {
	    width: 100%;
    	padding: 4px;
	    .img {
		    width: 30%;
		    float: left;
		    img {
			    width: 100%;
			    padding: 5px;
			    border-radius: 17px;
			}
		}
		.data {
		    width: 70%;
		    float: left;
		    margin: 0;
		    padding: 0;
		    position: relative;
		    .qu-amount {
			
			    font-size: 18px;
			    font-weight: 700;
			    color: #8705fb;
				span{
					position: relative;
					top: -3px;
					margin-right: 5px;
					color: #8705fb;
					.hydrated{
						vertical-align: middle;
					}
				}
			}
		    h4 {
				margin: 10px 34px 12px 10px;
    			padding: 0 0px 5px 0px;
			
			}
			.data-list {
			   
				margin: -8px 0px 0px 11px;
				span{
					position: relative;
					top: -3px;
					margin-right: 5px;
					color: #8705fb;
					.hydrated{
						vertical-align: middle;
					}
				}
				
			}
		}
	}
	.btn {
	    width: 100%;
	    margin-top: 10px;
	    display: flex;
	    padding: 9px;
	    border-top: 1px solid #f3ebeb;
	    .btn1{
	    	width: 50%;
    		text-align: center;
    		button {
			    padding: 11px 35px;
			    border-radius: 6px;
			    font-size: 16px;

			}
			.rej {
			    background-color: #ffc9c9;
			    color: #fe1415;
			}
			.acc{
				background-color: #d4f4cd;
			    color: #30ac18;
			}
	    }
		.margincen
		{
			margin-left: 29%;
		}
	}
}

.new-dvtp {
	background: #eae6fd;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
	p {
		margin: 0;
    font-size: 16px;
    font-weight: 600;
	color:#0e0e0e;
	& +p{
		margin-top: 15px;
	}
	}
	.clr-2{
		color: #8705fb;
	}
}

.btnol {
    padding: 15px;
}


.main-buttons {
    margin: 0;
	
    .btn1 {
        padding: 16px 0;
        border-radius: 7px;
        background-color: #20a606;
        color: #fff;
        font-size: 17px;
        box-shadow: 0px 2px 7px 0px #d3d3d3;
        font-weight: 600;
        width: 100%;
    }
    .basecolor{
        
        background-color: #8705fb;
    }
	.btn2 {
		padding: 16px 0;
		border-radius: 7px;
		
		color: #fff;
		font-size: 17px;
		box-shadow: 0px 2px 7px 0px #d3d3d3;
		font-weight: 600;
		justify-content: center;
		width: 43%;
		margin-left: 5%;
    }
	.cancolor{
        
        background-color: #fb0511;
    }
	.margincen
	{
		margin-left: 29%;
	}
}


.btnol {
    padding: 15px;
}

.main-button {
    margin: 0;
	text-align: center;
	display: flex;
    .btn1 {
        padding: 16px 0;
        border-radius: 7px;
        background-color: #20a606;
        color: #fff;
        font-size: 17px;
        box-shadow: 0px 2px 7px 0px #d3d3d3;
        font-weight: 600;
		justify-content: center;
        width: 50%;
    }
    .basecolor{
        
        background-color: #8705fb;
    }
	
}