<ion-header >
	<div (click)="gotoback()" class="back-arrow">
		<img src="assets/images/left-arrow.png" alt="flag">
	</div>
  	<ion-toolbar>
    	<ion-title>User's list</ion-title>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<div *ngIf="driverstatus==0" class="wait">
		<div class="img-waiting">
			<img src="assets/images/wait.png">
		</div>
		<h4> Waiting for User!</h4>
	</div>
	<div *ngFor="let dl of  UserList" class="driver-list">
		
		<div class="outer">
			<div class="img">
				<img src="{{dl.profile_image}}">
			</div>
			<div class="data">
				<h4>{{dl.first_name}} {{dl.last_name}}</h4>
				<div class="data-list">
					<div class="qu-amount"> <span><ion-icon name="call"></ion-icon></span>{{dl.phone_number}}</div>
				</div>
				<div class="data-list">
					<p><span><ion-icon name="mail"></ion-icon></span>{{dl.email}}</p>
				</div>

	
			</div>
		</div>
		<div *ngIf="dl.accepted_by_driver==0" class="btn" >
			<div  (click)="gotoaccptedtrip(dl.user_id,dl.trip_id,'0')" class="btn1">
				<button class="rej">
					<ion-icon name="close"></ion-icon>&nbsp;Reject
				</button>
			</div>
			<div  (click)="gotoaccptedtrip(dl.user_id,dl.trip_id,'1')" class="btn1">
				<button class="acc">
					<ion-icon  name="checkmark"></ion-icon>&nbsp;Accept
				</button>
			</div>
		</div>

        <div *ngIf="dl.accepted_by_driver==1 && dl.trip_status!=2" class="btn">
			
			<div  (click)="gotoaccptedtrip(dl.user_id,dl.trip_id,'0')" class="btn1 margincen">
				<button class="rej">
					<ion-icon name="close"></ion-icon>&nbsp;Cancel
				</button>
			</div>
		</div>

	</div>
</ion-content>
<ion-footer>
	<div class="footer-outer" >
		<div class="fo-inner">
			<div class="destination-adres">
			<ul>
				<li>
					<span class="point-ico"><ion-icon name="radio-button-on-outline"></ion-icon></span>
					<p>Leaving Form</p>
					<h4>{{DataDriver.from_location}}</h4>
				</li>
				<!-- <li>
				   <div class="amt" style="color: #8705fb;">{{DataDriver.expected_distance | number: '1.0-0'}} Km</div>
				</li> -->
			</ul>
		
			<ul>
				<li>
					<span class="point-ico"><ion-icon name="radio-button-on-outline"></ion-icon></span>
					<p>Going To</p>
					<h4>{{DataDriver.to_location}}</h4>
				</li>
				
			</ul>

			<div class="down-arere">
				<ion-icon name="arrow-down"></ion-icon>
			</div>
		</div>
				<div class="new-dvtp">
					<div class="lft-sd">
					<p>{{DataDriver.category_name}}</p>
					<p>{{DataDriver.schedule_date | date:'medium'}}</p>
				</div>
				<div class="rght-sd">
					<p class="clr-2">$ {{DataDriver.offer_price}}</p>
					<!-- <p class="clr-2">{{Driverdata.distance}}KM</p>  -->
				</div>
				</div>
		</div>
	</div>

	<div *ngIf="DataDriver.trip_status == 1" class="btnol" >
		<div  class="main-buttons">
			{{Driverdata.trip_status}}
			<button *ngIf="driverstatus==1" class="btn2 basecolor" (click)="completeride('2')">Complete</button>
			<button   class="btn2 cancolor" (click)="completeride('0')">Cancel</button>
		</div> 
	</div>
</ion-footer>
