<ion-content>
	<div [routerLink]="'/driver-menu'" class="back-arrow">
		<img src="assets/images/left-arrow.png" alt="flag">
	</div>   

	<!-- <div  class="outer" [routerLink]="'/otheraccpet'"  (click)="otherrideaccept(rl)"> -->
		<div  class="outer" >
		<div *ngFor="let rl of RideList" (click)="otherrideaccept(rl)" class="total-prosection">
		 	<div class="prolist">
					<div class="sourc-des">
						<div class="fo-inner">
							<ul>
								<li>
									<ion-icon name="radio-button-on"></ion-icon>
								</li>
								<li>
									<p>Leaving Form</p>
									<h4>{{rl.from_location}}</h4>
								</li>
								
							</ul>
							<!-- <div class="down-arere">
								<ion-icon name="arrow-down"></ion-icon>
							</div> -->
							<ul>
								<li>
									<ion-icon name="radio-button-on" style="color: #8705fb;"></ion-icon>
								</li>
								<li>
									<p>Going To</p>
									<h4>{{rl.to_location}}</h4>
								</li>
								<li>
									
										
								</li>
							</ul>
						</div>
					</div>
					<div class="driver-dtl-to">
						<div class="img">
							<img src="{{rl.vehicle_photo}}">
						</div>
						<div class="contant">
							<div class="name">
								<h4>{{rl.category_name}}</h4>
								<p>${{rl.offer_price}}</p>
								
							</div>
							<div class="date-time">
								<p>  {{rl.schedule_date}}</p>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</ion-content>
