<ion-header>
	<div class="home-header">
		<div [routerLink]="'/driver-menu'" class="img-header">
	  		<img src="{{this.driverDate.profile_image}}">
	  	</div>
	  	<div class="title">
	  		<h2>Request List</h2>
	  	</div>
	  	<div class="online-offline-btn">
	  		<p >{{Onstatusval}}</p>
	  		
			<ion-toggle [(ngModel)]="Onstatus"  (ngModelChange)="OnstatusChanged($event)"></ion-toggle>
	  	</div>
	</div>
</ion-header>

<ion-content>
	<div *ngFor="let rl of RideList" class="total-prosection">
		<ion-item-sliding>
 		 	<ion-item>
				<div class="prolist" >
					<div class="sourc-des">
						<div class="fo-inner" (click)="gotostartridepage(rl)">
							<ul>
								<li>
									<ion-icon name="radio-button-on"></ion-icon>
								</li>
								<li>
									<p>Leaving Form</p>
									<h4>{{rl.from}}</h4>
								</li>
								<li>
									<div class="amt" style="color: #8705fb;">{{rl.expected_distance | number: '1.0-0'}} Km</div>
								</li>
							</ul>
							<!-- <div class="down-arere">
								<ion-icon name="arrow-down"></ion-icon>
							</div> -->
							<ul>
								<li>
									<ion-icon name="radio-button-on" style="color: #8705fb;"></ion-icon>
								</li>
								<li>
									<p>Going To</p>
									<h4>{{rl.to}}</h4>
								</li>
								<li>
									
										
								</li>
							</ul>
						</div>
					</div>
					<div class="driver-dtl-to">
						<div class="img">
							<img src="{{rl.customer_profile_image}}">
						</div>
						<div class="contant">
							<div class="name-date">
								<div class="name">
									<h4>{{rl.customer_name}}</h4>
								</div>
								<div *ngIf="rl.offer_price>0" class="date">
									<span class="upr">${{rl.user_price}}</span>
									<span>${{rl.offer_price}}</span>
								</div>
								<div *ngIf="rl.offer_price==0" class="date">
									<span>${{rl.user_price}}</span>
								</div>
							</div>
							<div class="icon-detl underline">
								<div class="sec yellow">
									<ion-icon name="star"></ion-icon>
									<p> {{rl.rating}}</p>
								</div>
								<div class="sec">
									<ion-icon name="time-outline"></ion-icon>
									<p> {{rl.rating}} sec</p>
								</div>
								<div class="sec">
									<ion-icon name="locate-outline"></ion-icon>
									<p> {{rl.expected_distance  | number: '1.0-0'}}  Km</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ion-item>
			<ion-item-options *ngIf="rl.status == 0"class="itemOptions">
	      		<div  class="slide-btn">
	      			<div (click)="gotocancel(rl)" class="opt-hide">
	        			<ion-icon name="close-outline"></ion-icon>
	        			<p>Hide</p>
	        		</div>
	        		<div (click)="gotoaccpted(rl)" class="opt-map">
	        			<ion-icon name="checkmark-outline"></ion-icon>
	        			<p>On map</p>
	        		</div>
	        		<div (click)="gotoreport(rl)" class="opt-report">
	        			<ion-icon name="warning-outline"></ion-icon>
	        			<p>Report</p>
	        		</div>
	      		</div>
			</ion-item-options>
		</ion-item-sliding>
	</div>
	<div *ngIf="reportpoup=='1'" class="mdl-popup-section">
	  	<div class="modal fade" id="myModal" role="dialog">
	    	<div class="modal-dialog">
		      	<div class="modal-content">
			        <div class="modal-header">
			        	<p>Plaese Add your Reason</p>
			          	<button (click)="reportpoup=0"type="button" class="close" data-dismiss="modal">&times;</button>
			        </div>
		        	<div class="modal-body">
		          		<div class="form-group">
		            		<input type="text" [(ngModel)]="resion" class="form-control" placeholder="Reason..">
		          		</div>
		           		<button (click)="submitreportfun()"type="button" class="srch-btn">Submit</button>
		        	</div>
		      	</div>
		    </div>
	  	</div>
	</div>
</ion-content>
<ion-footer *ngIf="openpopup=='1'">
	<div class="total-popup" *ngIf="popuptype=='1'">
		<div class="outer-popup">
			
			<div class="main-popup">
				<div class="map-show" >
					<div class="img" id="map_home" ></div>
					<div (click)="openpopupfun('0','0')" class="down-arreow">
						<img src="assets/images/down-arrow.png">
					</div>
				</div>
				<div class="content">
					<div class="fo-inner">
						<ul>
							<li>
								<ion-icon name="radio-button-on"></ion-icon>
							</li>
							<li>
								<p>Leaving Form</p>
								<h4>{{Ridedata.from}}</h4>
							</li>
							<li>
								<div class="amt" style="color: #8705fb;">{{Ridedata.expected_distance  | number: '1.0-0'}}Km</div>
							</li>
						</ul>
						<ul>
							<li>
								<ion-icon name="radio-button-on" style="color: #8705fb;"></ion-icon>
							</li>
							<li>
								<p>Going To</p>
								<h4>{{Ridedata.to}}</h4>
							</li>
							<li>
								
									
							</li>
						</ul>
					</div>
					<div class="button-section">
					 	<div (click)="driverpriceacc(Ridedata.user_price)" class="main-buttons">
	                      	<button class="btn1">Accept for $ {{Ridedata.user_price}}</button>
	                    </div>
	                    <p>Offer your fare</p>
	                    <div class="rate-button">
	                    	<div (click)="driverpriceacc(CF_price)"class="small-btn">
                    			<button class="sbtn">${{CF_price}}</button>
	                    	</div>
	                    	<div (click)="driverpriceacc(CS_price)" class="small-btn">
                    			<button class="sbtn">${{CS_price}}</button>
	                    	</div>
	                    	<div (click)="driverpriceacc(CT_price)" class="small-btn">
                    			<button class="sbtn">${{CT_price}}</button>
	                    	</div>
	                    </div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<div class="total-popup" *ngIf="popuptype=='2'">
		<div class="outer-popup">
			<div class="main-popup">
				<div class="content">
					<div (click)="openpopupfun('0','0')" class="down-arreow-two">
						<img src="assets/images/down-arrow.png">
					</div>
					<div class="fo-inner">
						<ul>
							<li>
								<ion-icon name="radio-button-on"></ion-icon>
							</li>
							<li>
								<p>Leaving Form</p>
								<h4>{{Ridedata.from}}</h4>
							</li>
							<li>
								<div class="amt" style="color: #8705fb;">{{Ridedata.expected_distance| number: '1.0-0'}} Km</div>
							</li>
						</ul>
						<ul>
							<li>
								<ion-icon name="radio-button-on" style="color: #8705fb;"></ion-icon>
							</li>
							<li>
								<p>Going To</p>
								<h4>{{Ridedata.to}}</h4>
							</li>
							
						</ul>
					</div>
					<div class="button-section">
						<h4>What is your expected time of arrival </h4>
	                    <p>Pick the most accurate time</p>
	                    <div class="time-button">
                			<button (click)="drivertimeacc('3')" class="tbtn">3 min.</button>
	                    	<button (click)="drivertimeacc('5')" class="tbtn">5 min.</button>
	                    	<button (click)="drivertimeacc('10')" class="tbtn">10 min.</button>
	                    	<button (click)="drivertimeacc('20')" class="tbtn">20 min.</button>
	                    </div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

</ion-footer>
