/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/**********fonts***********/

@font-face {
    font-family: 'Proxima Nova';
    src: url('assets/fonts/ProximaNova-Extrabld.eot');
    src: url('assets/fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/ProximaNova-Extrabld.woff') format('woff'),
         url('assets/fonts/ProximaNova-Extrabld.ttf') format('truetype'),
         url('assets/fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url('assets/fonts/ProximaNova-Bold.eot');
    src: url('assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/ProximaNova-Bold.woff') format('woff'),
        url('assets/fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('assets/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('assets/fonts/ProximaNova-Regular.eot');
    src: url('assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/ProximaNova-Regular.woff') format('woff'),
        url('assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  font-family: "Proxima Nova", sans-serif !important;
  font-weight: normal;
}
/**end**/

.main-buttons {
    margin: 25px 0 0 0;
    .btn1 {
        padding: 18px 0;
        border-radius: 10px;
        background-color: #8705fb;
        color: #fff;
        font-size: 20px;
        box-shadow: 0 5px 8px rgb(135 5 251 / 30%);
        font-weight: bold;
        width: 100%;
        letter-spacing: 0.5px;
	}
    .Blackbtn {
        background-color: #000000;
    }
}
.logo-setup {
   background-color: #8705fb;
    text-align: center;
    padding: 40px 10px 60px;	
}
.driver-login {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    p {
        text-align: center;
        font-size: 18px;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        a {
            color: #8705fb;
            text-decoration: none;
            font-weight: bold;
        }
    }
}






.otp-mobile {
   	display: flex;
    border-bottom: 1px solid #472f5d42;    
    margin-top: 45px;
    position: relative;
    padding-right: 50px;
    img{
		width: 20px;
		height: 20px;
	    
	}
	p{
		font-size: 19px;
	    color: #000000;
	    margin: 0px 2px 6px 7px;
	    font-weight: 500;
    }
    a {
	    margin: 1px 0px 0px 35px;
        font-size: 14px;
        position: absolute;
        right: 0;
        text-decoration: none;
        font-weight: bold;
	}
    
}
.full-size {
      width: 100%;
      height: 100vh;
     
      
}
.choose-vih-ty {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    /*flex-wrap: wrap;*/
    .one {
	    width: 47%;
        border: 2px solid #8705fb29;
        border-radius: 10px;
        text-align: center;
        padding: 15px 5px;
        img {
          
        }
	}
    .four {
        width: 22%;
        margin: 36px 11px 32px 8px;
        border: 2px solid #8705fb29;
        border-radius: 11px;
        padding: 8px 12px;
    }
	.active{
		border: 2px solid #8705fb;
	}
}
.withpadding{
    padding: 65px 24px 0 24px;
}
.pd-detils {
    .avtar-img {
	    text-align: center;
	    .img {
		    position: relative;
            .p-image {
                width: 85px;
                height: 85px;
                background-color: #e6e6e6;
                border-radius: 50%;
                position: relative;
                margin: 20px auto;
                overflow: hidden;
                img {
                    width: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
		   	
			ion-icon {
                position: absolute;
                bottom: 6%;
                font-size: 21px;
                color: #8705fb;
                right: 36%;
                display: block;
            }

		}
		p {
		    font-size: 10px;
		    color: #8705fbd1;
		}
	}
}
.upload-doc{
    width: 100%;
    display: flex;
    .signl {
        width: 50%;
        padding: 40% 0 0;
        border: 1px solid gainsboro;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        & + .signl {
            margin-left: 15px;
        }
    }
}
.doc-img {
    text-align: left;
    margin-top: 25px;

	h4 {
	    font-size: 11px;
	    color: #454646;
	}
	p {
	    color: #d8dede;
	    font-size: 11px;
	}
	.upload-doc {
	    width: 100%;
	    display: flex;
	}
}

.total-prosection{
    padding: 0px;
    margin: 15px;
    border-radius: 25px;
    .prolist {
        display: block;
        overflow: auto;
        width: 100%;
        border-radius: 12px;
        box-shadow: 0px 2px 7px 0px #d8cfcf;
        padding: 14px 0px;
        background-color: #ffff;
        position: relative;
        .sourc-des{
            
        }
        
    }

}
.fo-inner{
    border-bottom: 1px solid #f4eeee;
    .down-arere {
        color: #c1b6b6;
        margin: 7px 0 0 8px;
    }
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        li{
            margin: 3px -2px;
            padding: 0;
            p {
                margin: 0;
                padding: 0;
                font-size: 11px;
                color: #aba7a7;
            }
            h4 {
                font-size: 14px;
                margin: 0;
                padding: 0;
                background-color: #ffffff;
                color: #000000;
            }
            ion-icon{
                margin: 11px 0px 0px -29px;
            }
            .amt {
                margin: -11px 7px;
                font-weight: 600
            }
            
        }
    }

}
    

.sourc-des{
    .fo-inner{
        position: relative;
        margin-top: 8px;
        .down-arere {
            position: absolute;
            top: 46px;
            left: 17px;
            font-size: 15px;
            z-index: 5445454;
            color: #c1b6b6;
        }
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            li{
                p {
                    margin: 0;
                    padding: 0;
                    font-size: 11px;
                    color: #aba7a7;
                }
                h4 {
                    font-size: 14px;
                    margin: 0;
                    padding: 0;
                }
                ion-icon{
                    margin: 1px 5px 1px -32px;
                    padding: 8px 3px 1px 2px;
                }
                .amt {
                    margin: 10px 13px;
                    font-weight: 600;
                }
                
            }
        }

    }
}
.driver-dtl {
    display: flex;
    .img {
        width: 20%;
        margin: 15px 15px 0px 16px;
        img {
            max-width: 100%;
            border: 0;
            border-radius: 10px;
        }
    }
    .name {
        margin: 0;
        padding: 0;
        width: 46%;
        margin-top: 30px;
        h4 {
            font-size: 15px;
            margin: 0;
            padding: 0;
        }
    }
    .date {
        width: 51%;
        font-size: 11px;
        margin-top: 14px;
        margin-left: 12px;
    }

}
.back-arrow {
    position: absolute;
    top: 6px;
    left: 9px;
    font-size: 31px;
    z-index: 45646;
    box-shadow: 2px 0px 8px 0px #eaeaea;
    padding: 3px 15px 6px 13px;
    border-radius: 6px;
    background-color: white;
    img {
       width: 18px;
    }
}
.Ride-form {
    margin: 0 34px;
    .ride-input {
        position: relative;
        ion-input{
            font-size: 15px;
            margin: 11px 0 0 0;
            border-bottom: 1px solid #d6cccc;
            margin-left: 25px;
            width: 89%;
        }
        ion-datetime{
            font-size: 15px;
            margin: 11px 0 0 0;
            border-bottom: 1px solid #d6cccc;
            margin-left: 25px;
            width: 89%;
        }
        ion-icon{
            position: absolute;
            top: 12px;
            left: 0;
            color: #8c58b9;
        }
    }
}
.img-upload{
    padding: 12px 29px;
    p {
        font-size: 14px;
    }
    .upload-doc-we{
        width: 100%;
        display: flex;
        .signl {
            width: 37%;
            border: 1px solid gainsboro;
            margin: 5px;
            border-radius: 20px;
            padding: 25px 36px;
            background-color: #fbfbfb;
        }
    }
}
.button-cargo {
    margin: 5px 28px;
}
.driver-order-footer {
    display: flex;
    width: 100%;
    .sec-one {
        text-align: center;
        width: 50%;
        padding: 9px 0;
        ion-icon {
            padding: 0;
            margin: 0;
            color: #a54bf6;
            font-size: 20px;
            font-weight: 600;
        }
        p {
            margin: 0;
            font-size: 12px;
            padding: 0;
            color: #a54bf6;
        }
    }
}
.header{
    position: absolute;
    top: 26px;
    left: 92px;
    font-size: 17px;
}

.alert-button-group {
    
    background: #fff;
    
    .alert-button {
        font-size: 18px;
        color: #ffffff;
        font-weight: 900;
        text-transform: capitalize;
        background: #5c03abd1;
        padding: 6px 37px;
        border: 2px solid #5c03ab70;
        width: 50%;
        margin-right: 0px;
    }
}
.alert-head {
    
    background: #5c03ab;
    
    .alert-title{
        color: #fff;
        font-size: 20px;
        font-weight: 500;
    }
    .alert-message
    {
        padding-top: 45px;
    }
}
.alert-message{
    
    padding-top: 34px !important;
    
    
}
.back-arreow{
    position: absolute;
    top: 14px;
    left: 16px;
    font-size: 21px;
    z-index: 45646;
    box-shadow: 2px 0px 8px 0px #eaeaea;
    padding: 7px 9px 0px 9px;
    border-radius: 6px;
    background-color: white;
}



/*------------------*/
.wrrper {
    min-height: 100%;
    background: #f8f9fd;
    position: relative;
    padding-bottom: 10px;
    overflow: auto;
    .logo-wrap {
        max-width: 75%;
        margin: 0 auto 25px;
    }
    .login-enter {
        background: #fff;
        margin: -45px 20px 50px;
        position: relative;
        z-index: 1;
        padding: 35px;
        border-radius: 20px 20px 0 0;
    }
}